<h1>
This is the intro though<sup class="ref-tag"><a href="#just-the-intro">[1]</a></sup>
</h1>
<p class="attribution">
Marc LeBourdais
<br>
<em>November 1, 2016</em>
</p>

<br>

<div class="article">
<p>
April of 2015 was a tumultuous month. I quit my job of four-and-a-half years on April Fools' Day, I ended the longest serious relationship of my life (six months, more on this subject in a later post), and I gave up working on my billion-dollar app idea.
</p>

<p>
I was burnt the fuck out.
</p>

<div class="right">
  <img class="inline-pic" height='240px' src='/images/alaska_glacier.jpg'/>
</div>

<p>
I somehow (which to this day I can't really explain) saved enough money to live unemployed in NYC for six more months. I went to SF and Alaska for the first time; I played a lot of golf; I spent a few weeks visiting Sweden for a friend's wedding; and the rest of the time I spent binging food, alcohol and all the TV I missed while having a life.
</p>

<p>
If having a life means watching the same romcoms every Hangover (those two days not Monday-Friday). As it turns out, I can recall 27 Dresses from a black-and-white, pixelated still of the wedding-dress fitting.
</p>

<p>
If you're wondering where Boston Flowers Chronicles originated, I'm not going to explain it. I've tried. It doesn't tell well. The short version is: @bostonflowers became my Slack handle (read: like a Twitter/Instagram handle but for our company chat) around the second or third week of my new job, and these are my chronicles, of which I owe mostly to said job.
</p>

<p>
Sometime in the fresh wake of my quarter-life crisis, a friend of mine who's always scheming suggested that I find a remote job so that I could travel the world and still make money. <em>Say what!?</em> As someone who loves to travel, I'm surprised that hadn't come onto my radar before, but I immediately fell in love with the idea. I was still pretty burnt out at the time, so I didn't take his suggestion that seriously until about three months into funemployment. Even then I spent the fourth month just sitting around hoping the job would find me. <em>It didn't</em>. It took me until the fifth month before I really started interviewing. And as it turns out, it's a lot harder than I anticipated.
</p>

<p>
To be fair, I was being a bit of a princess in my demands. I didn't want the instability of a consulting role nor did I really have the contacts or internet presence to get reliable work anyway; I didn't want to be required to work east-coast hours; I didn't want to take much of a pay cut from my previous job; and I didn't want to work for one of the 100%-remote companies. I liked the idea of having a centralized office presence that I could come back to occasionally and then full time once my soul-searching trip was over. You might be surprised by this, but no I don't play the lottery.
</p>

<div class="left">
  <img class="inline-pic" style="padding-left:0" height='240px' src='/images/oktoberfest.jpg'/>
</div>

<p>
Luck did strike, however, the day after I left NYC to move all my things back to my parents' house in New Hampshire. I took a quick U-turn back to the city that next day to interview, and a couple days later I was signing the paperwork. On October 5th (not so coincidentally two days after Oktoberfest ended in Munich), I found myself back in NYC for the first month of my new job.
</p>

<p>
I spent the next four weeks doing the best I could to engage the social atmosphere of my new company, and damn was it awesome. I could go on for hours about how amazing everyone was (is) and how truly happy I was (am) for the first time in a long time, but this is neither the time nor the place. I write code, by the way. I've been Ross Gellered enough times not to go into much more detail, but yes, it's one of the few professions that you can get away with this lifestyle.
</p>

<p>
At the time of writing this, I'm a few episodes into season 10 of Friends, and I'm not sorry for any of the references. I'm also on a trans-Atlantic flight with no seat-back entertainment. I want you to feel badly for me, but I'm sure you don't.
</p>

<p>
So why do this? I can't really give you a definite answer. I've been asked repeatedly to blog about my adventures, and so that's what I'm going to do. I promise that I'll only be vague in the interest of others' privacy and that I am going to be completely candid otherwise. I hope to make you laugh and cry and feel inspired to live <em>your</em> dreams; I hope to find my voice in all of this and become a better person and more self aware in the process; and most importantly, I hope that Donald Trump does not become President of the United States.
</p>

<p>
Okay, ready!?
</p>

<p>
{{#link-to "post.mexico-city"}}Once upon a time in Mexico City{{/link-to}}
</p>

<br>
<h5>References</h5>
<div class="references">
<a id="just-the-intro" target="_blank" href="https://www.youtube.com/watch?v=zSnCjyoMNgs">[1] I don't know when to come in</a>
</div>

</div>
