<h1>
Once upon a time in Mexico City
</h1>
<h4>
<em>November 1 - December 5, 2015</em>
</h4>
<p class="attribution">
Marc LeBourdais
<br>
<em>November 1, 2016</em>
</p>

<br>

<p>
Throughout all my travels I've learned that the mention of Mexico City renders a completely binary reaction. The person either ecstatically professes their love for or desire to go to the city or queerily questions the tactics of my survival. The mainstream media has so thoroughly abused the reputation of this city (and country for that matter) that I'm actually surprised at how balanced the populations of my sample are.
</p>

<p>
In fact, the negative perceptions to which I had been so accustomed to hearing were the primary factor in my decision to visit, though I must admit that the stars sort of aligned for that to happen. One of my closest friends moved out to Singapore in October 2015, and he consequently wasn't going to be able to visit his family for the holidays that year down in Costa Rica. When I told him of my new job, he suggested that I be his son/brother/cousin/nephew-by-proxy that December. I had already met most of his family a couple years prior, so that sounded like an awesome idea. It was around that time that I decided I was going to try to learn Spanish for real: not the "donde esta la bibiloteca" BS I was still riding since high school. Anyone who really knows me would probably say I'm selling myself short, but I was certainly not close to fluent, a goal that I had now bestowed upon myself for the next year and a half.
</p>

<p>
Knowing that November 1st was going to be my likely departure from NYC and that December and January were reserved for Costa Rica, I looked at a map (quite literally, geography is not my strongest subject) to see what was in between. Oh hey Mexico, you seem nice, and now we're all caught up.
</p>

<div class="right">
  <img class="inline-pic" height='240px' src='/images/tabasco_medellin.jpg'/>
</div>

<p>
The airport was indeed a little murky. Waiting in line with customs forms sprawled around the room lain with tile floors that appeared as though they hadn't been deeply cleaned since being laid, I had to fight my propensity for stereotyping. I arrived late into the evening, so I was unable to really get a feel for the scenery on the drive to my airbnb. But as the taxi driver fumbled with the address (Calle Tabasco, n&uacute;mero seiscientos.. no, trescientos..!) we pulled up to the building in the dark but seemingly quaint neighborhood, Roma Norte.
</p>

<p>
My host was entirely eccentric and perfectly fluent in English; his apartment colorful and spacious; the two miniature schnauzers a rabid delight. You should never judge a city by its airport. At this point I was pretty exhausted and decided to call it a night, anxious for my first official day as a remote employee (henceforth known simply as <em>remotee</em>).
</p>

<p>
I learned very quickly that the first day in any new city is essentially a wash. I maybe got a couple hours of work done that day, but I couldn't say no to my new roommate wanting to show me around the city. He had an extra bike-share pass for me which was incredibly convenient and considerably incongruous for my first day in a city known for its abhorrent traffic. He took me to get a SIM card and then to lunch for some real Mexican tacos.
</p>

<div class="right">
  <img class="inline-pic" height='240px' src='/images/gorditas.jpg'/>
</div>

<p>
If there's one reason to visit Mexico City it's for the food. Not only do they tout two of the world's 50 best restaurants, but the passion and care for their heritage simply emanates from the flavors of even the simplest staples. Like the blue corn tortillas, freshly made and steaming in a small container, doughy to the bite, you can roll these things up and eat them bare. Congratulations Pavlov, your bell is ringing.
</p>

<p>
Though the food may be the most influential reason to go back, everyone I met in Mexico City was incredibly nice. I was surprised beyond belief to see how receptive people were toward a citizen of a country that so widely abuses their country's image. Perhaps those who live there don't quite see how badly Americans look down on Mexico, and for that I'm incredibly ashamed of my country. If there's one outcome from this blog, I hope that I convince at least one skeptical person to visit Mexico City with an open mind.
</p>

<div class="left">
  <img class="inline-pic" height='200px' src='/images/mexico_folk_dance.jpg'/>
</div>

<p>
Beyond the food, the city is so rich in culture, ranging from classical folk dance to gorgeous architecture and Aztec ruins. And the people are rightfully proud of their heritage. But anyway, now is as good a time as any to divulge one of the bigger themes of my travels, which is: how am I meeting people?
</p>

<div class="right">
  <img class="inline-pic" height='240px' src='/images/teotihuacan.jpg'/>
</div>

<p>
I often describe myself as an introvert masquerading to the general public as an extravert. For many years, I failed miserably to behave outwardly toward groups of people in social settings. When engulfed in circular gatherings, I tended to position myself just exterior to the boundary of the invisible sphere of influence of the conversation, thereby preventing direct engagement. I was an observer, attempting to understand the dynamics of social behavior that seemed so foreign to me. And forget about girls; I was perennially friendzoned. But with most things in life, social interaction can be conceived as a skill, which invariably may be acquired with enough perseverence.
</p>

<p>
College (or university, for all the non-US folk) was where I finally evolved as a key contributor to social groups. You can probably attribute that to me attending an engineering school with a critical mass of nerds. When you put a jocky-nerd in a group of geeky-nerds, you almost become cool by default. Once you add on the fact that I came into school as a 17-year-old who got his 15 minutes of fame by fleeing the country to Italy to make a statement and drop out of high school, I finally lost my virginity.
</p>

<p>
Relationships were a particularly difficult thing to understand for me. My at-home life coupled with a couple devastating heartbreaks throughout high school molded my mentality toward girls. As a defense mechanism, I convinced myself that I would never fall in love, and I unintentionally lost someone about whom I should have truly cared. There's not a day that goes by that makes me feel less like an asshole for how I treated her. But as time passes and we move on from our mistakes and failures, our only hope is to learn from our history and treat others and ourselves better.
</p>

<p>
Have I been rambling? I tend to do that sometimes (read: all the time). Needless to say, four years in college and six in New York City taught me a lot. I still feel particularly introverted insofar as I internalize a lot and like solitude. But projecting yourself outwardly and building a breadth to your social web is vital for personal growth in life, relationships and work. And when you're traveling the world by yourself, there is no better way to fight loneliness and figure out how not to be a tourist.
</p>

<p>
As most people in this day and age understand, meeting people offline is very hard, or at least significantly harder than online. Tinder has, unironically, been very useful throughout my travels. Using the app just to make friends is actually not that bad. I complement its usage by going to bars and such, engaging bartenders and people around me, but by far it has been the easiest way to meet locals and do and learn things that otherwise would have been nearly impossible. Sometimes it's just nice to be able to talk with someone at dinner. Particularly in Mexico I wanted to meet people that would force me to speak Spanish. And whether I'm using Tinder or not, alcohol definitely helps inhibit all those irrational thoughts that the girl smiling at you doesn't want you to come talk with her.
</p>

<div class="left">
  <img class="inline-pic" height='160px' src='/images/grasshoppers.jpg'/>
</div>

<p>
However, I went on a date one night with a girl whose English was just as bad as my Spanish, an experience of which I cannot begin to describe the awkwardness. She was also taller than me, which was a first (but not a bad thing Taylor!). I'm already a sloucher, so the entire dinner I was consciously erecting my posture, often inhibiting my ability to recall that new word I read in Harry Potter y la Piedra Filosofal. Pro tip: when trying to learn a new language, reading a children's book in that language coupled with some learning software like Duolingo is fantastic.
</p>

<p>
I did in fact eat those grasshoppers one evening. (That's not my hand though for anyone who might think I eloped in Mexico.) They were glazed with this spicy sauce, and just tasted like sriracha-coated, fried chickpeas almost. Would I eat them again? Probably. I like being a bit adventurous with things, especially food. I often think that I would have won Fear Factor no problem, but then I also gag when brushing my teeth and the brush goes too far back while cleaning my tongue.
</p>

<p>
Anyway, it was pretty cool that one weekend a friend of mine from NYC came down independently to Mexico City to surprise his girlfriend who was visiting one of her best friends from college (uni), and I also got to hang out with someone I met at another friend's wedding some time ago. While the former was there, we went to see a Lucha Libre (think WWE but even more hilarious). I learned a new Spanish phrase that night: Chinga su madre cabr&oacute;n! At least he was being formal about it..
</p>
