<h1>
Unrequited Love
</h1>
<p class="attribution">
by Marc LeBourdais
</p>

<br>

<p>
The subtlest quirks, especially those to which others would typically scoff in annoyance, provoke this pang of brightness that runs from the tip of my toes up through my unstable core. I have to suppress the innate twitch of my lips so as not to show my constant endearment. It's never been easy for me to hide how I feel; and the way she glides effortlessly through the room leaves me grasping for the signs of reality to set in.
</p>

<p>
Most of us have fallen in love before. Sometimes just for a short time, sometimes for the rest of our lives. Sometimes that love is reciprocated, sometimes you're left to question your self worth. I find myself at that latter junction, one through which I'll try to reason my way into a state of emotional maturity and resolution.
</p>
