<div class="right">
  <img class="inline-pic" height='360px' src='/images/caltech.jpg'/>
</div>
<h2>About me</h2>
<br>
<p>
A physicist-turned-software-engineer, I'm traveling the world for 18 months while I work remotely for a company in NYC. I occasionally post things on Instagram with the #marcmeetsworldYYYY hashtag (2015/2016 so far). Jealousy is often the response to my story, but I only hope to inspire those around me to do bigger and better things.
</p>
<p>
In many ways, I don't know where life is taking me, but I can tell you how I got here and what I've done along the way. This website highlights some of the more important accounts of my travels as well as some random asides on general travel advice.
</p>
<p>
My travel itinerary can be found <a target="_blank" href="https://docs.google.com/spreadsheets/d/165r0YfO55YmNtVdmdGGsqOq3gimJgw2ybcUGGZpMaTQ">here</a>.
</p>
