<div class="right">
  <img class="profile-pic" height='240px' src='http://www.iconsdb.com/icons/download/black/question-mark-512.gif'/>
</div>
<h2>Frequently Asked Questions</h2>
<br>
<p>
Coming soon...
</p>
