<div class="right">
  <img class="inline-pic" height='480px' src='/images/profile_pic.jpg'/>
</div>
<h2>Posts</h2>
<br>
<p>{{#link-to "post.intro"}}This is the intro though{{/link-to}}</p>
<p>{{#link-to "post.mexico-city"}}Once upon a time in Mexico City{{/link-to}}</p>
